body {
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    font-weight: normal;
    color: rgb(255, 0, 0);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: green;
    font-weight: bolder;
    text-decoration: underline;
}



h3 {
    padding-top: 150px;
    font-size: 55px;
    font-family: 'Josefin Sans', sans-serif;
}


p,
li,
ul {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.jour {
    margin-bottom: 30px;

    margin-top: 70px;
}

li {
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: 'Secular One', sans-serif;
}

.animation {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
    font-size: 50px;
    color: white;
    letter-spacing: 1px;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86)
}

.first {
    display: inline-block;
    animation: firstspan 1.5 forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    position: relative;
    right: 248px;
    font-weight: 500;
    font-size: 70px;
}

.slide {
    position: relative;
    left: 65px;
    /* display: inline-flex; */
    overflow: hidden;
    /* text-align: center; */
}


.second {
    z-index: -1;
    display: inline-block;
    animation: secondspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-weight: 100;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes firstspan {
    0% {
        transform: translateX(50%);
    }

    60% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes secondspan {
    0% {
        transform: translateX(-150%);
    }

    60% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0%);
    }
}


header {
    z-index: 1;
    margin: 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-color: #E83220;
    margin-top: 10px;
    margin-bottom: 30px;
}

button {
    background-color: #32B36C;
    color: white;
    width: 140px;
    height: 45px;
    border-radius: 16px;
    margin-left: 80px;
    margin-right: 20px;
    border: 3px solid green;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #32B36C;
    border: 5px solid white;
    font-weight: bolder;
}

main {
    margin: 0;
    width: 100%;
    height: 600px;
    background-image: url("./img/stadepsg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


}

.main-sommaire {
    background-color: #ECE1E1;
    padding: 70px;
    margin-bottom: 20px;
}





.profil {
    position: relative;
    left: 26px;
    bottom: 80px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid rgb(204, 224, 16)
}

.infos,
.title {
    color: white;
}

.infos {
    position: relative;
    left: 26px;
    bottom: 80px;
    text-align: center;
    width: 200px;

}

.infos p {
    font-size: 30px;
    margin: 0;
}

.title {
    font-size: 75px;
    position: relative;
    bottom: 97px;
    width: 63%
}

.icone {
    width: 80px;
    height: 80px;
    margin-right: 50px;
}

.flaticon {
    width: 80px;
    height: 80px;
    position: relative;
    top: 76px;
    left: 20px;
}

footer {
    height: 140px;
    background-color: rgb(64, 255, 47);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.title-img {
    display: flex;
    padding-top: 150px;
    align-items: center;
}

.saturate {
    filter: saturate(6) drop-shadow(8px 8px 10px gray);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.entrepriseimg {
    width: 582px;
    height: auto;
    border-radius: 50px;
    margin-bottom: 20px;
}

.entreprise {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

figure p {
    margin-right: 30px;
}