header{
background-color: yellow;
height: 50px;
}

main{
    width: 100%;
    height: 600px;
    background-image: url("./img/stadepsg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main-banner{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


}



.profil{


    width: 200px;
    border-radius: 50%;
    border: 10px solid red
}
.infos, .title{
    color: white;
}

.infos{
    text-align: center;
    width:150px
}

.title{
    width:30%
}